.partner-list p.sl01 {
background: url(../../img/slider/sl01.png) top left no-repeat;
margin:0px;
}
.partner-list p.sl02 {
background: url(../../img/slider/sl02.png) top left no-repeat;
margin:0px;
}
.partner-list p.sl03 {
background: url(../../img/slider/sl03.png) top left no-repeat;
margin:0px;
}
.partner-list p.sl04 {
background: url(../../img/slider/sl04.png) top left no-repeat;
margin:0px;
}
.partner-list p.sl05 {
background: url(../../img/slider/sl05.png) top left no-repeat;
margin:0px;
}