/*@import url(/css/fonts.css);*/
html, body {
  height: 100%; 
  margin:0px;
  padding:0px;
  font-family: Calibri,Tahoma,Times New Roman;
  }


/*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }*/

/* clearfix hack */
/*.cf {
  *zoom: 1; }
  .cf::after {
    clear: both; }
  .cf::before, .cf::after {
    content: " ";
    display: table; }*/
.page {
	margin: 0px auto;
	min-width:800px;
	/*max-width:1100px;*/
}
.viewport {
	min-width:1005px;
	max-width:1150px;
	margin: 0px auto;
}

a img {
	border:none;
}
.header {
	width:100%;
	margin:0px auto;
	left:0px;
	height:120px;
	background-color:#12abdc;
	vertical-align: top;
	position: fixed;
	/*width:1364px;*/
	top:0px;
	/*left:0px;*/
	z-index:100;
	/*min-width: 1200px;*/
	box-shadow: 0 0 2px 2px #12abdc;
	
}
.header div.menu {
	/*min-width:730px;
	max-width:1130px;*/
	/*width:1136px;*/
	margin:0px auto;
}

.header div.bg{
	width:100%;
	height:5px;
	background-color:#12abdc;
}
.header h1.logo{
	float:left;
	margin: 14px 0px 0px;
}
.ft_HelveticaWorld {
font-family: Calibri,Tahoma,Times New Roman;
}
.ft_LatoMedium {
font-family: Calibri,Tahoma,Times New Roman;
}
.ft_LatoLight {
font-family: Calibri,Tahoma,Times New Roman;
}
nav.effect{
	margin-top: 20px;
  /*padding-left: 24px;*/
  /*text-align: center;*/
  /*font-weight:bold;*/
  /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
}
nav.effect a {
  transition: 0.3s ease;
  font-family: Calibri,Tahoma,Times New Roman;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 15px;
}
nav.effect a:hover{
/*background:#F7941E;*/
border-bottom: 4px solid #F7941E;
  padding: 2px 0; 
}

.bg_gray1 {
background: url("../../img/bg1.png") repeat;
}
.bg_gray2 {
background: url("../../img/bg2.png") repeat;
}


.section-1 {
	width:100%;
  }
  .section-1 .greeting-content {
    /*max-width: 960px;*/
	/*background: url("../../img/slider/sl01.png") bottom center no-repeat;*/
    margin: 0px auto;
    /*text-align: center;*/ }
    .section-1 .greeting-content h1, .section-1 .greeting-content h3 {
      }
    
	.section-1 div.table {
		/*background: url("../../img/sec2_bg.jpg")  repeat top center;
		background-size: 100%;*/
	}
	.greeting-content div.story  {
	padding-top:20px;
	}
	.section-1 .cell {
		display: table-cell;
		/*height:85px;*/
		width:50%;
		text-align:left;
		vertical-align:top:
	}
	.section-1 .left {
		/*background-color:#EEEEEE;*/
		float:left;
		width:50%;
	}
	.section-1 .right {
	/*background-color:#DDDDDD;*/
	}
	p {
		padding: 0px;
	}
	.section-1 div.arrow-right:after {
		content: '';
  position: absolute;
  top: 0px;
  left: 530px;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-left: 15px solid #f7941e;
	}
	div.story {
		padding-bottom:10px;
	}
/*.quotes {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-style: italic;
  color: #fff;
  width: 500px;
  margin: 30px;
  padding: 15px; }*/
#section2{
background-color:#12abdc;
max-width: 1900px;
min-width:1005px;
}
.section-2 {
  
  }
  .section-2 #title {
    margin: 0 auto;
    /*background-color:#F7941E;*/
	height:630px;
	}
	.section-2 #title  .trial{
		margin:0px auto;
		width:100%;
	}
	.section-2 #title  p.title{
	/*background: url("../../img/tria.png") no-repeat top center;
	background-position-y:-1px;*/
	/*background-position-x:40px;*/
	text-align:center;
	margin: 0px auto;
	/*width:420px;*/
	color:#40658d;
	padding-top:30px;
	}
	.section-2 #title  .cnt{
	/*padding-right:50px;*/
	padding-bottom:30px;
	padding-top:10px;
	/*padding-left:10px;*/
	width:1134px;
	/*color:#FFFFFF;*/
	text-align:center;
	font-family: Calibri,Tahoma,Times New Roman;
	margin:0px auto;
	}
	.section-2 #partner p.title{
		/*font-size:24px;*/
		/*font-weight:bold;*/
		color:#FFFFFF;
		margin: 0px auto;
		width:540px;
		/*padding-left:40px;*/
		text-align:center;
	}
#section3 {
max-width: 1900px;
min-width:1005px;
}
.section-3 {
  background-color:#EEEEEE;
  background: url("../../img/common.png") no-repeat top center;
  }
  .section-3 #steve-img {
    margin: 0 auto;
    z-index: 200;
    position: absolute;
    right: 0px; }
  .section-3 p.title{
		font-weight:bold;
		color:#000000;
		margin: 0px auto;
		width:590px;
	}
#section5 {
max-width: 1900px;
min-width:1005px;
}
.section-5 {
  background-color:#ececec;
  }
.faq {
	/*padding:20px;*/
	font-size: 18px;
	background-color:#F7941E;
	margin: 0px auto;
	color:#FFFFFF;
	box-shadow: 0 0 5px 3px #e0e0e0;
	min-width:1134px;
	margin-bottom:15px;
	max-width:1365px;
	width:1134px
}
.expand {
	background-color:#FFFFFF;
	color:#575e71;
}
.faq div.cur {
	cursor:pointer;
	font-family:Calibri,Tahoma,Times New Roman;
}
.faq div.down {
	background: url("../../img/cdown.png") no-repeat center center;
	/*background-position-y:12px;*/
	width:35px;
	height:30px;
	float:left;
}
.faq div.up {
	background: url("../../img/cup.png") no-repeat center center;
	/*background-position-y:12px;*/
	width:35px;
	height:30px;
	float:left;
}
.separate {
	background-color:#FFFFFF;
	height:20px;
}
.form_title {
	background-color:#252a3d;
	height:35px;
	color:#FFFFFF;
	padding-top:15px;
	padding-left:10px;
	font-size:18px;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.form {
	font-size:16px;
}
input {
	width:365px;
	padding:7px;
}
textarea {
	width:365px;
	height:70px;
	padding:7px;
}
.submit {
	background-color:#F7941E;
	padding:10px;
	text-align:right;
	font-size:20px;
	color:#FFFFFF;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}
.form p {
padding-top:0px;
}

.footer {
	/*width:100%;*/
	margin: 0px auto;
	background-color:#12abdc;
	max-width: 1900px;
	min-width:1005px;
}
.footer  .menu {
	height:160px;
	/*min-width:1024px;*/
	/*min-width:1134px;*/
	/*min-width:900px;*/
	/*width:1134px;*/
	margin:0px auto;
}
.footer  .link {
	height:40px;
}
.footer div.bg{
	width:100%;
	height:7px;
	background-color:#0d88af;
}
nav.ft{
	margin-top: 20px;
  /*padding: 5px;*/
  /*text-align: center;*/
  font-family: Calibri,Tahoma,Times New Roman;
  font-weight:bold;
  margin-top:0px;
  float:left;
  /*padding-left:50px;*/
  padding-top:30px;
  padding-bottom:20px;
  /*background: url('../../img/home_bg.jpg') no-repeat;*/
  background-position-y: 48px;
  background-position-x: 7px;
  /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
}
nav.ft a {
  transition: 0.3s ease;
  /*background: #3fa46a;*/
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  /*border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;*/
  padding: 10px 0;
  margin: 0 10px;
  
}
nav.ft a:hover{
/*background:#F7941E;*/
border-bottom: 6px solid #F7941E;
  padding: 6px 0; 
}
.copyright {
	float:right;
	height:23px;
	color:#FFFFFF;
	font-size:16px;
	font-family: Calibri,Tahoma,Times New Roman;
	font-weight:100;
	text-align:right;
	width:100%;
	padding-right:10px;
}
label.error {
	font-size:12px;
	position:absolute;
	/*margin-top:28px;*/
	/*left:10px;*/
	margin-left:-125px;
	margin-top:29px;
	padding-left: 10px;
	padding-right: 10px;
	padding: 5px;
	color:#FFFFFF;
	background-color:#FF0000;
	box-shadow: 0 0 1px 1px #e0e0e0;
	-webkit-box-shadow: 0 0 1px 1px #e0e0e0;
	height:13px;
}
.radio label.error {
	font-size:12px;
	position:absolute;
	/*margin-top:28px;*/
	/*left:10px;*/
	margin-left:5px;
	margin-top:40px;
	padding-left: 10px;
	padding-right: 10px;
	padding: 5px;
	color:#FFFFFF;
	background-color:#FF0000;
	box-shadow: 0 0 1px 1px #e0e0e0;
	-webkit-box-shadow: 0 0 1px 1px #e0e0e0;
	height:13px;
}

.radio2 label.error {
	font-size:12px;
	position:absolute;
	/*margin-top:28px;*/
	/*left:10px;*/
	margin-left:5px;
	margin-top:20px;
	
}
.input-hsubmit {
  background: url(../../img/btn_hsubmit_vn.png) no-repeat center center;
  width: 300px;
  height: 50px;
  display: inline-block;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  /*margin: 20px auto 70px;*/
  border-radius:5px;
  background-color:#f7941e;
}
.input-asubmit {
  background: url(../../img/btn_asubmit.png) no-repeat;
  width: 300px;
  height: 35px;
  display: inline-block;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  /*margin: 20px auto 70px;*/
  border-radius:5px;
  background-color:#f7941e;
}
.input-apply {
  background: url(../../img/btn_apply_vn.png) no-repeat;
  width: 103px;
  height: 33px;
  display: inline-block;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  /*margin: 20px auto 70px;*/
  background-color:#f7941e;
}
.input-start {
  background: url(../../img/btn_start_vn.png) no-repeat;
  width: 143px;
  height: 38px;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  /*margin: 20px auto 70px;*/
  background-color:#f7941e;
}
.information input[type="text"].error {
	border: 2px solid #FF0000;
}
.information input[type="email"].error {
	border: 2px solid #FF0000;
}
.information input[type="phone"].error {
	border: 2px solid #FF0000;
}
.information input[type="url"].error {
	border: 2px solid #FF0000;
}
.information .style3 input[type="text"].error {
	border: 2px solid #FF0000;
}
input[type="text"].error {
	border: 2px solid #FF0000;
}input[type="phone"].error {
	border: 2px solid #FF0000;
}
input[type="email"].error {
	border: 2px solid #FF0000;
}
.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 801;
   display: none;
}
.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;
   height: 100px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 4px solid #12abdc;
   padding: 0px;
   z-index: 902;
   font-family: Calibri,Tahoma,Times New Roman;
   font-size: 10pt;
   border-radius: 8px;
}
.loading {
	background: url(../../img/loader_orange.gif) no-repeat;
	width: 300px;
	height:65px;
	margin:0px auto;
	margin-top:30px;
	padding-top:5px;
	padding-left:40px;
	text-align:left;
}
#dialog div.msg {
	padding:30px;
}
a.lang {
	text-decoration:none;
	font-family:Calibri;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
}
#partner {
	background-color:#12abdc;
}
.pro1_zero {
	background: url(../../img/pro1_zero.png) no-repeat;
}
.pro2_fifty {
	background: url(../../img/pro2_fifty.png) no-repeat;
}
.pro3 li {
  list-style: none;
  line-height: 25px;
  padding-left: 30px;
  padding-bottom:25px;
  background: url(../../img/icon_chk.png) no-repeat;
}
.client li {
	display: inline;
	padding:40px;
}
.partner li {
	display: inline;
	padding:0px;
}

.partner-list p {
background: url(../../img/slider/sl01.png) 0 center no-repeat;
margin:0px;
}

.partner-list .owl-nav .owl-prev{
	background: url(../../img/control_ban_pre.png) 0 center no-repeat;
	background-size: 43px;
	left: 5px;
	width: 43px;
	height: 100px;
}
.partner-list .owl-nav .owl-next{
	background: url(../../img/control_ban_next.png) 0 center no-repeat;
	background-size: 43px;
	right: 5px;
	width: 43px;
	height: 100px;
}

.client-list .owl-nav .owl-prev{
	background: url(../../img/control_pre.png) 0 center no-repeat;
	background-size: 26px;
	left: 5px;
	width: 26px;
	height: 46px;
}
.client-list .owl-nav .owl-next{
	background: url(../../img/control_next.png) 0 center no-repeat;
	background-size: 26px;
	right: -10px;
	width: 26px;
	height: 46px;
}
.form p input{
	margin:0px auto;
	font-size:16px;
	font-family:Calibri,Tahoma,Times New Roman;
	font-weight:normal;
}
.form p textarea{
	margin:0px auto;
	font-size:16px;
	font-family:Calibri,Tahoma,Times New Roman;
	font-weight:normal;
	resize: none;
}
p.close {
	background: url(../../img/close.png) 0 center no-repeat;
	background-size: 26px;
	width: 26px;
	height: 26px;
	padding-right:10px;
	margin:0px;
	float:right;
	cursor:pointer;
}